<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Test</title>
<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<header>
<h1><%= title %></h1>
</header>
<nav>
<span><a title="home page" href="/">home</a></span>
<span><a title="login" href="/login">login</a></span>
<span><a title="register" href="/reg">register</a></span>
</nav>
<article>